.pokemonType__container{
    background-color: rgb(200, 4, 4);
    height: 100vh;
}

.typeHeading{
    color: #fff;
    padding: 0.5rem 1rem;
    height: 4rem;
    background-color: #000;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
    
}



.pokemonsOfType{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
    border: inset #9aa28b 3px;
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.2rem;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 14rem;
    font-size: 13px;
    padding: 0.5rem;
}

.types{
    padding: 1rem 0;
    text-align: center;
    border: 2px inset #9aa28b ;
    background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
   
     
}

.li__type2 {
    margin: 0.5rem 0;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    
      
}

.ul__container{
    padding: 1rem;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


@media only screen and (min-device-width: 898px) {

    .clipPath__type{
        margin-top: 3rem;
        width: 100%;
    }

    .pokemonsOfType{
        height: 23rem;
    }

}


