.container {
    background-color: rgb(200, 4, 4);
    width: 100%;
    height: 100%;

}

.leftContainer{
    width: 100%;
}

.backToMenuButton {
    margin: 0;
    color: #000;
    padding-left: 5px;
}

.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.topContainer_buttons{
    display: flex;
}

.searchContainer {
    display: flex;
    justify-content: center;
    margin: 0.5rem;

}

.searchButton {
    height: 2rem;
    font-size: 15px;
    border-radius: 10px 50px 50px 10px;
    border-left: none;



}

.searchInput {
    font-size: 15px;
    height: 2rem;
    width: 12rem;
    padding-left: 10px;
    border-radius: 50px 0 0 50px;
   
}


.detailHeading {

    height: 4.5rem;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 15px;
    margin: 0;

}

.detailUppercase {
    text-transform: uppercase;
    color: #fff;
}

.spanHeading {
    font-size: 30px;
    color: rgb(225, 221, 221);
}

.pokemonImage {
    width: 200px;
    height: 200px;
    margin-bottom: 1.5rem;

}


.backImage {
    display: none;
}

.imageContainer {
    background: linear-gradient(15deg, #cad5b5 64%, #dde2d4 70%, #dde2d4 81%, #fff 86%, #dde2d4 89%, #dde2d4 100%);
    border: inset #9aa28b 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    min-height: 14rem;
    margin: 0.5rem;
    align-items: center;
    position: relative;

}



.buttonsContainer {
    display: flex;
    justify-content: center;
    gap: 0.2rem;
    margin: 0.5rem;
    align-items: center;
}

.switchImageButton {
    height: fit-content;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.nextPokemon {
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.previousPokemon {
    background-color: transparent;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.selectContainer{
    position:relative;
    margin-top: 2rem;
    
}

select{
    margin: 0 1rem;
    position: absolute;
    bottom: 100%;
    background-color: #000;
    color: #fff;
    font-family: 'Oxanium', cursive;
    font-size: 13px;
    padding: 3px;
    width: 91%;
}

select:focus {
    outline: none;
}

.pokemonStats {
    background-color: #eceaea;
    margin: 1rem;
    min-height: 8rem;
    

}

.ul__stats {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    background-color: #eceaea;
    padding: 0;
    border: inset #9aa28b 3px;

}

.statName {
    grid-column: 1;
    border: 1px solid #000;
    padding-left: 0.3rem;

}

.statValue {
    grid-column: 2;
    border: 1px solid #000;

}

.statBar {
    height: 20px;
    background-color: #819feb;
    animation: grow ease-in 1s;

}

.pokemonMoves {
    display: none;
}

.movesContainer {
    border-radius: 3px;
    border: inset #879a65 3px;
    height: 8.2rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #eceaea;
    margin: 1rem;
    padding-left: 10px;
    font-size: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #000;
    grid-column: 2;

}



.pokemonDescription {
    margin: 1rem;
    color: #fff;
    background-color: #000;
    padding: 0.2rem 0.5rem;
    min-height: 7rem;
    position: relative;

}

.pokemonDescription2 {
    margin: 1rem;
    color: #fff;
    background-color: #000;
    padding: 0.2rem 0.5rem;
    min-height: 7rem;
    position: relative;
    display: none;
    line-height: 1.5rem;

}

.playCry{
   
    padding: 0;
    background: transparent;
    border: none;
    font-size: 17px;
    color: #fff;
}


.switchEntryButton{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    color: #fff;
    background: transparent;
    border: none;
}

.switchEntryButton2{
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0.5rem;
    color: #fff;
    background: transparent;
    border: none;
}

.abilities{
    display: flex;
    gap: 3px;
}

.abilities__li{
    list-style: none;
    
}




/*.pokemonSpecs {
    background: linear-gradient(14deg, rgb(165, 205, 83) 60%, rgb(193, 217, 144) 65%);
    margin: 2rem 0.5rem 2rem;
    padding-bottom: 1rem;
    min-height: 10rem;
    color: #fff;
    padding-top: 0.5rem;
    border-radius: 3px;
    border: inset #879a65 3px;

} 

.specsContainer {
    display: grid;
    grid-template-columns: 1fr 2.5fr;

}

.specsHeading {
    padding: 0 0 0 1rem;
    font-size: 20px;
    grid-column: 1;

} */

.ul__container {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    gap: 1rem;

}

.ul__type{
    display: flex;
    gap: 0.7rem;
    position:absolute;
    bottom: 0;
    padding: 0;
    margin: 0.2rem 0;
}

.li__type {
    padding: 4px;
    margin: 0.5rem 0;
    min-width: 6ch;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 800;
    border-radius: 50px;
    text-align: center;
   
}

.li__ability {
    font-size: 15px;
    border: inset #879a65 1px;
    padding: 0.3rem 0.5rem;
    background-color: #eceaea;
    color: #000;
    grid-column: 2;

}



#myBtn {

    z-index: 50;
    cursor: pointer;
    font-size: 20px;
    color: #000;
    background-color: transparent;
    border: none;
}




.pokeballSVG {
    animation: gelatine 0.5s infinite linear;
}

.shimmer {
    -webkit-mask:linear-gradient(-60deg,#000 30%,#0005,#000 70%) right/350% 100%;
    background-repeat: no-repeat;
    animation: shimmer 4s infinite;
  }
  
  @keyframes shimmer {
    100% {-webkit-mask-position:left}
  }

@keyframes gelatine {

    from,
    to {
        transform: scale(1, 1);
    }

    25% {
        transform: scale(0.9, 1.1);
    }

    50% {
        transform: scale(1.1, 0.9);
    }

    75% {
        transform: scale(0.95, 1.05);
    }
}

@keyframes grow {
    0% {
        width: 0;

    }
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


@media only screen and (min-device-width: 898px) {
    body{
        display: flex;
        justify-content: center;
        padding: 3rem;
        /*background-image: url(/img/pokemonprarie.jpg);
        background-repeat: no-repeat;
        background-size: 100%;*/
    }
    
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
        width: 50rem;
        
       
    }

    .leftContainer{
       
        border-right: 10px double #000;
        border-radius: 10px;

    }

    .rightContainer{
        grid-column: 2;
        background-color: #fff;
        border: none;
        
    }

    .topRightContainer{
        background-color:  rgb(200, 4, 4);
        height: 37rem;
        border-radius: 0 0 10px 10px; 
 
    }

    .descriptionContainer{
        margin-top: 5rem;   
    }

    .pokemonDescription{
        min-height: 10rem;
    }

    .pokemonDescription2{
        min-height: 10rem;
    }

    .clipPath__right {
        margin-top: 3rem;
        display: block;
        width: 100%;
        height: 3rem;
        margin-bottom: 0.5rem;
        background: #fff;
        transform: rotateY(180deg);
        clip-path: polygon(0% 95%, 0 0, 38% 0, 100% 0, 100% 50%, 33% 50%, 15% 100%, 0% 100%);
        
    }

    .clipPath__left {
        display: block;
        border-radius: 5%;
        width: 100%;
        height: 3rem;
        margin-bottom: 0.5rem;
        background: black;
        clip-path: polygon(0% 95%,
                /* top left */
                15% 95%,
                33% 45%,
                100% 45%,
                100% 50%,
                33% 50%,
                15% 100%,
                0% 100%);
    }   

}