.listContainer{
    width: 100%;
    background-color: rgb(200, 4, 4);

    
}

.listHeading{
    text-align: center;
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 50px;
    color: yellow;
    margin: 1rem 0 0 0;
    
}

.pokeList__pokemon{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5rem;
    text-transform: uppercase;
    background-color: none;
    text-decoration: none;
    border: inset #9aa28b 1px;
    border-right: none;
    
}

.li__loading{
    padding: 0.4rem 0 0.4rem 1rem;
    border: inset #9aa28b 1px;
    border-right: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    
}

.pokeballSVG__spin{
    animation: gelatine linear 1s infinite;
}

.pokeList__img{
    height: 40px;
    width: 40px;
    margin-right: 0.5rem;
}

.pokeList__container{
    display: flex;
    justify-content: center;
    
}

.pokeList{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0.5rem;
    background: #fff;
    border: inset #9aa28b 3px;
    border-radius: 5px;
    padding: 0;
    width: 100%; 
    
}

.offset{
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    margin: 1rem 1.3rem;
    padding-right: 2rem;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
}

.offset a{
    color: #fff;
    text-decoration: none;
}

@media only screen and (min-device-width: 768px) {
    .listHeading{
        font-size: 70px;
    }

    

    .pokeList{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        margin: 0 5rem;
        
    }

    .pokeList__pokemon{
        flex-direction: column;
    }

    .pokeList__img{
        height: 80px;
        width: 80px;
        padding: 1rem;
        
    }

    .pokeballSVG__spin{
        width: 50px;
        height: 50px;
        padding: 2.2rem;
        
    }

    .li__loading{
        display: flex;
        justify-content: center;
       
    }

   
}



