@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&family=Oxanium&display=swap');
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url("css/pokedex.css");
@import url("css/pokemonDetail.css");
@import url("css/pokemonType.css");
@import url("css/typeColors.css");

body{
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;
    display: flex;
    justify-content: center;

}


ul{
    list-style: none;
}


























